.venv
venv
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints
.mypy_cache
.ruff_cache
.coverage
htmlcov
.git
.gitignore
logs
data
*.log
~$
report/~$*
*.md
179.ipynb
docs
Screenshots
tests
report/lint_*.txt
report/pytest_*.txt
report/code_quality_report.txt
report/model_data_quality_report.txt
report/README.md
report/179.docx
report/179.pdf
.flake8
pyproject.toml
architecture.md
README.md
